h1 {
    color: blue
    
}

h1:hover{
    color: green;
}

:link{
    color: grey;
}

image :hover{
    display:none;
}
    
a:link{
    color: orange;
}

a:visited{
    color:lightgrey;
}

p:active{
    background-color: grey;
}

img:hover{
    display: none;
}