body{
    background:radial-gradient(at top center, #CCDAE0, #EDF2F4 )
}

header{
    text-align: center;
}

li{
    list-style: none;
}
h1{
    color:#EF233C;
    size: 25px;
    font-weight: bold;
}

article{
    border: solid 1px black;

}

h3{
    color: #2B2D42;
    font-size:25px;
    font-weight: bold;
    text-decoration: underline dotted;
}

img{
    justify-content: center;
    text-align: center;
    margin:auto;
    display:flex;
    border: 2px solid black;
    width: 200px;
    height: 100px;
}

footer{
    text-align: right;
}

a:visited{
    color: grey;

}

a:link{
    color:#D90429;
}

a:hover{
    color: #2b2d42;
}

label.obligatoire:after{
    content:"*";
    color:red;
}