h1{
    color:red;
    font-size: 35px;
}

h3{
    color:blue;
    font-size: 25px;

}

.Premier,.deuxième{
    background-color: grey;
}

em{
    text-decoration: underline;
    color: orange;
    font-size:  22px;
    font-style: normal;
}

strong{
    font-weight: normal;
    
}

.Troisième {
    background-color: pink;
}

.Titre {
    color: green;
    text-align: right;
    text-decoration: underline;
}
    