h1{
    color:red;
    font-size: 35px;
    text-align: center;
}

h3{
    color:blue;
    font-size: 25px;

}

.Premier,.deuxieme{
    background-color: grey;
}

em{
    text-decoration: underline;
    color: orange;
    font-size:  22px;
    font-style: normal;
}

strong{
    font-weight: normal;
    color: yellowgreen;
    
}

.wron{
    background-color:#F08080  ;
}

.Titre {
    color: green;
    text-align: right;
    text-decoration: underline;
}
    