@media screen and (min-width:800px)and (orientation:landscape){
    .bloc1{
        background-color: #D3D3D3;
        width:650px;
        height:370px;
        margin-left: 10px;
    }
}

.media{
    color:#5555CE;
    margin-left: 10px;
    
}

h1{
    border: 2px;
    background-color: #D3D3D3;
    text-align: center;
    width: 650px;
    margin-left: 10px;
}

.page{
    background-color: #D3D3D3;
}

h2{
    color:#9C9EA7 ;

}

.p1,.p3,.p4,.p5{
    background-color: white;
    margin-left: 10px;
    height: 25px;
    width: 620px;
}

.p2,.p6{
    background-color:#5555CE;
    color: white;
    margin-left: 10px;
    height: 25px;
    width:620px;
}

.bloc1:nth-child(2){
    margin-left: 10px;
}

